{% extends "application/layout.html" %}

{% block body %}
    <div>
        <h3 class="history-title text-center">Past Entries in "{{ category.category_name }}"</h3>

        <div class="journal-entry-container">
            {% for entry in journal_entries %}
            <div class="journal-entry">
                <p class="journal-date">Date: {{ entry.date_time }}</p>

                <div class="journal-entry-section-input">
                    <p class="journal-entry-title">Your Entry</p>
                    <p class="journal-entry-text">{{ entry.input }}</p>
                </div>

                <div class="journal-entry-section-output">
                    <p class="journal-entry-title">AI Response</p>
                    <p class="journal-entry-text">{{ entry.output }}</p>
                </div>
            </div>
            {% empty %}
                <p class="text-center">No entries found in this category.</p>
            {% endfor %}
        </div>

        <div class="text-center mt-3">
            <a class="btn btn-purple" href="{% url 'history_render_category' %}">Select Another Category</a>
        </div>
    </div>
{% endblock %}
