{% extends "application/layout.html" %}

{% block body %}

<div class="history-header">
    <h1 class="history-title">History</h1>
    <h2 class="history-subtitle">Select a category to view past entries.</h2>
</div>

<form  action="{% url 'history_render_category' %}" method="POST">
    {% csrf_token %}
    {% for category in categories %}
        <button type="submit" name="category" value="{{ category.id }}">
            {% if category.icon %}
                <img src="{{ category.icon.url }}" alt="{{ category.name }} Icon">
            {% endif %}
            <strong>{{ category.name }}</strong>
            {% if category.description %}
                <p>{{ category.description }}</p>
            {% endif %}
        </button>
    {% endfor %}
</form>

{% endblock %}



