{% extends "application/layout.html" %}

{% block body %}

    {% if message_red_alert %}
        <div class="alert alert-danger" role="alert">
            {{ message_red_alert }}
        </div>
    {% endif %} 

    <div class="register-header">
        <h1 class="register-logo">Mentra</h1>
        <h4 class="register-description">Transform your thoughts into insights with with AI-driven chatbot journal responses</h4>
    </div>

    <h2 class="register-title text-center">Register New User</h2>

    <form action="{% url 'register' %}" method="post" class="col-4 offset-4">
        {% csrf_token %}
        <div class="form-group">
            <label class="login-input-title">Username: </label>
            <input required autofocus class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label class="login-input-title">Email: </label>
            <input required class="form-control" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-group">
            <label class="login-input-title">Password: </label>
            <input required class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <label class="login-input-title">Confirm Password: </label>
            <input required class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <div class="text-center">
            <input class="btn btn-purple" type="submit" value="Register">
        </div>
    </form>
    <br> 

    <p class="text-center">Already have an account? 
        <a class="login-link" href="{% url 'login' %}">Log In here.</a>
    </p>

{% endblock %}