{% extends "application/layout.html" %}

{% block body %}

    <div class="chat-container">
        <div class="chat-meta">
            <p class="chat-category">{{ journal_log.category }}</p>
            <p class="chat-time">{{ journal_log.date_time }}</p>
        </div>

        <div class="chat-message user-message">
            <p>{{ journal_log.input }}</p>
        </div>

        <div class="chat-message ai-message">
            <p>{{ journal_log.output }}</p>
        </div>
    </div>


{% endblock %}