{% extends "application/layout.html" %}
{% load static %}

{% block body %}

    <div class="chat-container">
        <div class="chat-meta">
            <p class="chat-category">{{ journal_log.category }}</p>
            <p class="chat-time">{{ journal_log.date_time }}</p>
        </div>

        <div class="chat-message user-message">
            <p>{{ journal_log.input }}</p>
        </div>

        <div class="chat-message ai-message">
            <p>{{ journal_log.output }}</p>
        </div>
        <div class="mascot">
            {% if journal_log.category.category_name == "Supportive" %}
                <img src="{% static 'application/images/brain1.jpeg' %}" alt="Mascot" class="mascot1">
            {% elif journal_log.category.category_name == "Insightful" %}
                <img src="{% static 'application/images/brain2.jpeg' %}" alt="Mascot" class="mascot2">
            {% elif journal_log.category.category_name == "Actionable" %}
                <img src="{% static 'application/images/brain3.jpeg' %}" alt="Mascot" class="mascot3">
            {% endif %}
        </div>
    </div>


{% endblock %}